// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

/* Sticky footer styles
-------------------------------------------------- */
html 
{
    position: relative;
    min-height: 100%;

    body 
    {
        /* Margin bottom by footer height */
        margin-bottom: 60px;

        .footer 
        {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }
    }    
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container.main
{
    padding: 60px 15px 0;
}

.field-validation-error 
{
    color: #c7254e;
    font-size: 0.9em;
}

.super-admin-dashboard 
{
    .glyphicon
    {
        font-size: 8em;
        display: block;
        margin: 0.2em 0 0.2em 0;
    }

    hr
    {
        border-color: #cccccc;
    }

    .lead
    {
        display: block;
        margin-bottom: 0.6em;
    }
}

.admin-dashboard 
{
    p.lead
    {
        padding-left: 30px;
    }

    .glyphicon
    {
        font-size: 4em;
        display: block;
        margin: 0.2em 0 0.2em 0;
    }

    hr
    {
        border-color: #cccccc;
    }

    .btn
    {
        .lead
        {
            display: block;
            margin-bottom: 0.6em;
        }
    }    
}

.user-dashboard
{
    #calendar
    {
        // this is the day text which is dynamically wrapped in the class
        .highlight-day {}
        // this is the parent <td> of the above
        .highlight-day-cell
        { 
            -webkit-border-radius: 4px;
	        -moz-border-radius: 4px;
            border-radius: 4px;
            color: #fff;
            background-color: #70c114;
        }

        .highlight-day-legend
        {
            display: inline-block;
            width: 20px;
            height: 20px;
        }
    }
}
        

.email-recipients 
{
    height: 100%;
    padding-top: 10px;

    li 
    {
        list-style: none;
        display: inline-block;
        margin-bottom: 6px;
        margin-left: 3px;

        .label 
        {
            font-size: @font-size-h5;
        }

        .remove-recipient
        {
            color: @gray;

            &:hover
            {
                text-decoration: none;
                color: @gray-dark;
            }
        }
    }    
}


