@{
    ViewBag.Title = "Report";
}
@section head {
    <!-- Data Tables -->
    <link href="~/Content/DataTables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/dataTables.tableTools.min.css" rel="stylesheet" />
}
<div data-ng-controller="ReportController">
    <div class="row col-md-12 form-horizontal">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-4">Start Date</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input id="EditStartDate" type="text" class="form-control datepicker" placeholder="Select date" />
                        <label for="EditStartDate" class="input-group-addon">
                            <i class="input-append glyphicon glyphicon-calendar"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-4">End Date</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input id="EditEndDate" type="text" class="form-control datepicker" placeholder="Select date" />
                        <label for="EditEndDate" class="input-group-addon">
                            <i class="input-append glyphicon glyphicon-calendar"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12 form-horizontal">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">User Group</label>
                <div class="col-md-8">
                    <select class="form-control" id="UserGroup">
                        <option value=''>Please select a user group...</option>
                    </select>
                </div>
            </div>
        </div>
        @*<div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">Course type</label>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option>e-learning</option>
                        </select>
                    </div>
                </div>
            </div>*@
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">Status</label>
                <div class="col-md-8">
                    <select id="LearningStatus" placeholder="Please select a status..." class="form-control" disabled="disabled">
                        <option>complete</option>
                        <option>due</option>
                        <option>overdue</option>
                        <option>pending</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12 form-horizontal">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">Course Category</label>
                <div class="col-md-8">
                    <select class="form-control" id="CourseCategory">
                        <option value=''>Please select a course category...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">Course</label>
                <div class="col-md-8">
                    <select class="form-control" id="Course">
                        <option value=''>Please select a course...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="clearfix"><br /></div>
    </div>
    <div class="row col-md-12 form-horizontal">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <button id="EmailSelectedUsers" type="button" class="btn btn-default btn-primary pull-right">Email Selected Users</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">                    
                    <button id="ApplyReportFilter" type="button" class="btn btn-default btn-success pull-right" style="margin-left: 6px">Apply Filter</button>
                    <button id="ResetReportFilter" type="button" class="btn btn-default pull-right">Reset</button>
                </div>
            </div>
        </div>
        <div class="clearfix"><br /></div>
    </div>
    <div class="clearfix" style="margin-bottom: 3em;"></div>
    <hr />
    <div style="margin-bottom: 5em;"></div>
    <div class="table-loading">
        <div class="spinner"></div>&nbsp;Loading...
    </div>
    <table id="ReportResults"class="display" cellspacing="0" width="100%"></table>
    <div style="margin-bottom: 5em;"></div>
</div>
@section scripts {
    <script src="~/Scripts/Library/bootstrap/bootstrap-datepicker.js"></script>
    <!-- Data Tables -->
    <script src="~/Scripts/Library/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Library/DataTables/dataTables.tableTools.min.js"></script>
    <script type="text/javascript">
        var REPORT_DATA = [],
            USER_GROUP_LIST = [],
            COURSE_CATEGORY_LIST = [],
            COURSE_LIST = [],
            SWF_PATH = "@Url.Content("~/Scripts/Library/DataTables/swf/copy_csv_xls_pdf.swf")";
    </script>
    <script src="~/Scripts/Report/BasicController.js"></script>
}