<div data-ng-controller="SuperAdminDashboard">
    <p class="lead">
        As the system administrator you can add new clients (companies) and create new
        administrators for these clients.<br />Click on one of the buttons below to begin.
    </p>
    <div aria-label="Justified button group" role="group" class="super-admin-dashboard btn-group btn-group-justified">
        <a role="button" class="btn btn-default" href="@Url.Action("Manage", "Client")">
            <span class="glyphicon glyphicon-briefcase"></span>
            <hr />
            <span class="lead">manage client</span>
        </a>
        <a role="button" class="btn btn-default" href="@Url.Action("Admin", "User")">
            <span class="glyphicon glyphicon-user"></span>
            <hr />
            <span class="lead">manage admin</span>
        </a>
        <a role="button" class="btn btn-default disabled" href="@Url.Action("Logo", "Client")">
            <span class="glyphicon glyphicon-picture"></span>
            <hr />
            <span class="lead">upload logo</span>
        </a>
    </div> 
</div>