<div class="row col-md-12 user-dashboard" data-ng-controller="UserDashboardController">
    <div class="col-md-3">
        @*<kendo-calendar ng-model="startDate" k-rebind="endDate" max="endDate"></kendo-calendar>*@
        <div id="calendar" kendo-calendar="calendar" data-k-options="calendarConfig"></div>
    </div>
    <div class="col-md-9">
        <div id="CourseContainer" class="panel panel-default" data-ng-repeat="course in CoursesList" data-ng-cloak>
            <div class="panel-heading">{{course.CourseName}}</div>
            @* INCOMPLETE LEARNING *@
            <div data-ng-if="::!course.LearningComplete" class="panel-body">
                <div>{{course.CourseDescription}}</div>
                <br />
                <a href="{{course.CourseContentResource}}" class="lead">{{course.CourseContentName}}</a>
                <br /><br />
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" data-ng-class="course.DaysRemaining <= 1 ? 'progress-bar-danger' : (course.DaysRemaining <= 3 ? 'progress-bar-warning' : '')" role="progressbar" aria-valuenow="{{course.PercentToFill}}" ar aria-valuemin="0" aria-valuemax="100" style="width: {{course.PercentToFill}}%">
                        {{course.DaysRemainingString}}
                    </div>
                </div>
                <div class="form-group row col-md-12">
                    <div class="col-md-6 text-left">{{course.CourseSessionStartDateString}}</div>
                    <div class="col-md-6 text-right">{{course.CourseSessionEndDateString}}</div>
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="form-group checkbox pull-right">
                    <label>
                        <input data-ng-change="checkUserInput(course)" type="checkbox" id="ReadTickBox" data-ng-model="course.LearningComplete" />
                        <span data-ng-if="!course.SubmittedWithoutCheck">I have read and understood the contents of the document</span>
                        <span class="field-validation-error" data-ng-if="course.SubmittedWithoutCheck">Please check to confirm you have understood the contents of the document</span>
                    </label>
                    <label></label>
                </div>
                <div class="clearfix"></div>
                <button data-ng-click="submit(course)" type="button" class="editor-btn btn btn-primary pull-right">Submit &raquo;</button>
            </div>
            @* COMPLETED LEARNING *@
            <div data-ng-if="::course.LearningComplete" class="panel-body">
                <div>Thank you, this course is complete. You can review the document below:</div>
                <br />
                <a href="{{course.CourseContentResource}}" class="lead">{{course.CourseContentName}}</a>
            </div>
        </div>
    </div>
</div>