@{
    ViewBag.Title = "Manage Clients";
    Layout = "~/Views/Shared/_Layout.admin.cshtml";
}
<p class="lead">
    <ul>
        <li><a href="@Url.Action("Manage", "Client")">manage client</a></li>
        <li><a href="@Url.Action("Logo", "Client")">upload logo</a></li>
    </ul>
</p>
<p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>

