@{
    ViewBag.Title = "Manage User Groups";
}
@section head {
    <link href="~/Content/kendo-styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo-styles/kendo.silver.min.css" rel="stylesheet" />
    <link href="~/Content/kendo-styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo-styles/kendo.dataviz.default.min.css" rel="stylesheet" />
}
<div class="row col-md-12" data-ng-controller="UserGroupController">
    <div class="col-md-3">
        <a href="#" id="ShowGroupCreator" data-toggle="modal" data-target="#CreateUserGroupModal" class="btn btn-sm btn-primary">Add new group »</a>
        <br /><br />
        <div id="treeview" data-role="treeview" class="k-widget k-treeview" tabindex="0" role="tree" aria-activedescendant="treeview_tv_active">
            <div class="k-loading" style="display: inline-block; width: 16px; height: 16px; top: 0; left: 0;"></div>&nbsp;Loading...
        </div>
    </div>
    <div class="col-md-9 form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-1">
                <p class="lead">To add/remove users from groups, simply drag and re-order the list in the left hand panel.</p>
                <p class="lead">When you're done hit the <u>Save Groups</u> button below.</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 col-md-offset-10">
                <button id="UpdateGroupOrder" class="btn btn-primary pull-right">Save Groups</button>
            </div>
        </div>
    </div>
    @Html.Partial("_Group.create")
    @Html.Partial("_Group.edit")
</div>
@section scripts {
    <script type="text/javascript" src="~/Scripts/Library/kendo-js/kendo.all.min.js"></script>
    @*<script type="text/javascript" src="~/Scripts/Library/kendo-js/kendo.angular.min.js"></script>*@ 
    <script type="text/javascript" src="~/Scripts/User/GroupController.js" ></script>
}
