@{
    ViewBag.Title = "Manage Users";
}
@section head {
    <link href="~/Content/kendo-styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo-styles/kendo.silver.min.css" rel="stylesheet" />
    <link href="~/Content/kendo-styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo-styles/kendo.dataviz.default.min.css" rel="stylesheet" />
}
<div class="row col-md-12" data-ng-controller="UserManageController">
    <div class="col-md-3">
        <div class="lead">Edit Users</div>
        <div>
            <div class="k-loading" style="display: inline-block; width: 16px; height: 16px; top: 0; left: 0;"></div>&nbsp;Loading...
        </div>
        <div class="tree-view" kendo-tree-view="tree" k-data-source="treeData" k-template="itemTemplate" k-on-change="selectedItem=dataItem"></div>
    </div>
    @Html.Partial("_Manage.create")
    @Html.Partial("_Manage.edit")
</div>
@section scripts {
    <script type="text/javascript" src="~/Scripts/Library/kendo-js/kendo.all.min.js"></script>  
    <script src="~/Scripts/Library/kendo-js/kendo.angular.min.js"></script>
    <script src="~/Scripts/User/ManageController.js"></script>
}