<div class="modal fade" id="CreateCourseModal" tabindex="-1" role="dialog" aria-labelledby="CreateCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Course</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="CourseName" class="control-label col-md-2">Course Name</label>
                        <div class="col-md-10">
                            <input id="CourseName" data-ng-model="Course.Name" required class="form-control text-box single-line" type="text" placeholder="Course name..." />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CourseDescription" class="control-label col-md-2">Course Description</label>
                        <div class="col-md-10">
                            <textarea id="CourseDescription" data-ng-model="Course.Description" class="form-control" cols="40" rows="5" placeholder="A brief description of the new course..."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button data-ng-click="createCourse()" type="button" class="btn btn-default btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>