<div class="modal fade" id="EditUsersInSessionModal" tabindex="-1" role="dialog" aria-labelledby="EditUsersInSessionModallLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Remove selected users from session</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div id="UsersInEditedSession"></div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center"><input type="checkbox" id="SelectAll" data-ng-model="SelectAll" data-ng-click="SelectAllUsers()" /></th>
                                        <th>User</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="user in usersInSessionList">
                                        <td class="text-center">
                                            <input type="checkbox" data-ng-model="user.IsEnrolled" />
                                        </td>
                                        <td>{{user.Name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button data-ng-click="removeSelectedUsers()" type="button" class="btn btn-default btn-warning pull-right">Remove selected users</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>