<div class="modal fade" id="EditCourseSessionModal" tabindex="-1" role="dialog" aria-labelledby="EditCourseSessionModallLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="EditorTitle">Add Course Session</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Start Date</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input id="EditStartDate" type="text" class="form-control datepicker start" placeholder="Select date" />
                                <label for="EditStartDate" class="input-group-addon">
                                    <i class="input-append glyphicon glyphicon-calendar"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">End Date</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input id="EditEndDate" type="text" class="form-control datepicker end" placeholder="Select date" />
                                <label for="EditEndDate" class="input-group-addon">
                                    <i class="input-append glyphicon glyphicon-calendar"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 modal-checkbox">
                            <label for="IsRolling" class="control-label col-md-2">Rolling</label>
                            <input type="checkbox" id="IsRolling" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button id="AddCourseSession" type="button" class="btn btn-default btn-primary">Save</button>
                            <button id="EditCourseSession" type="button" class="btn btn-default btn-primary hidden">Save</button>
                            <button id="DeleteCourseSession" type="button" class="btn btn-default btn-danger hidden">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>