@model LMS.Web.Models.CourseViewModel
@{
    ViewBag.Title = "Course Session";
}
@section head {
    <link href="~/Content/kendo-styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo-styles/kendo.silver.min.css" rel="stylesheet" />
    <link href="~/Content/kendo-styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo-styles/kendo.dataviz.default.min.css" rel="stylesheet" />
    <style type="text/css">
        .datepicker {
            z-index: 2000 !important; /* Bootstrap model has z-index of 1050 */
        }
        .modal-checkbox {
            padding-left: 0;
        }
        .modal-checkbox input[type="checkbox"] {
            margin-top: 10px;
        }
    </style>
}
<div class="row col-md-12" data-ng-controller="CourseSessionController">
    <div class="col-md-3">
        <a href="#" id="Enrol" data-ng-class="{'disabled': selectedUsers.length === 0 && currentCourseSession.CourseSessionId === undefined}" data-toggle="modal" data-target="#EnrolUsersModal" class="btn btn-sm btn-primary">Enrol Selected Users &raquo;</a>
        <div>
            <div class="k-loading" style="display: inline-block; width: 16px; height: 16px; top: 0; left: 0;"></div>&nbsp;Loading...
        </div>
        <div class="tree-view" kendo-tree-view="tree" k-data-source="treeData" k-options="treeOptions"></div>
    </div>
    <div class="col-md-9 form-horizontal">
        <div class="form-group row col-md-12">
            <div class="col-md-offset-6">
                <a href="#" data-ng-click="showCourseSessionCreator()" data-val="addCourseSession" data-toggle="modal" data-target="#EditCourseSessionModal" class="btn btn-primary pull-right">Add Session &raquo;</a>
            </div>
        </div>
        <div class="form-group row col-md-12">
            <div class="col-md-12">
                <div id="LoadingContainer" class="col-md-9">
                    <div class="k-loading" style="display: inline-block; width: 16px; height: 16px; top: 0; left: 0;"></div>&nbsp;Loading...
                </div>
                <div id="CourseSessionsContainer">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Selected</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Rolling</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody id="CourseSessions">
                            <tr data-ng-repeat="courseSession in courseSessionsList">
                                <td class="text-center"><input data-ng-click="setCourseSession(courseSession)" setcoursesession type="radio" name="session" value="{{::courseSession.CourseSessionId}}" /></td>
                                <td class="startDate">{{::getDateStringFromJSONString(courseSession.StartDate)}}</td>
                                <td class="endDate">{{::getDateStringFromJSONString(courseSession.EndDate)}}</td>
                                <td class="isRolling">{{::courseSession.IsRolling}}</td>
                                <td>
                                    <a href="#" data-ng-click="showCourseSessionEditor(courseSession)" data-toggle="modal" data-target="#EditCourseSessionModal">Edit</a> |
                                    <a href="#" data-ng-click="showCourseSessionRemover(courseSession)" data-toggle="modal" data-target="#EditCourseSessionModal">Delete</a> |
                                    <a href="#" data-ng-click="getUsersInSession(courseSession)" data-toggle="modal" data-target="#EditUsersInSessionModal">Remove Users</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix"><br /></div>
        </div>
    </div>
    @Html.Partial("_Session.edit")
    @Html.Partial("_Session.enrol.user")
    @Html.Partial("_Session.edit.user")
</div>
@section scripts {
    <script type="text/javascript" src="~/Scripts/Library/kendo-js/kendo.all.min.js"></script>
    <script src="~/Scripts/Library/kendo-js/kendo.angular.min.js"></script>
    <script src="~/Scripts/Library/bootstrap/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/Site/DateLib.js"></script>
    <script type="text/javascript">
        var COURSE_ID = @Model.CourseId;

        $(function() {
            $('.datepicker').datepicker({
                todayHighlight: true,
                startDate: new Date(),
                autoclose: true,
                format: 'dd/mm/yyyy'
            });
        });
    </script>
    <script src="~/Scripts/Course/SessionController.js"></script>
}
