@{
    ViewBag.Title = "Contact";
}
@section head {
<link href="~/Content/kendo-styles/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo-styles/kendo.silver.min.css" rel="stylesheet" />
<link href="~/Content/kendo-styles/kendo.dataviz.min.css" rel="stylesheet" />
<link href="~/Content/kendo-styles/kendo.dataviz.default.min.css" rel="stylesheet" />
}
<div kendo-window="errorWindow" k-title="'Error'" k-visible="false" k-modal="true">
    There was a {{errorStatus}} error loading {{errorURL}}.<br />
    <pre>{{errorData}}</pre>
</div>
<div data-ng-controller="EmailController" class="row col-md-12">
    <form name="emailForm" data-ng-submit="send()">
        <div class="col-md-3">
            <div class="lead">Recipients</div>
            <div>
                <div class="k-loading" style="display: inline-block; width: 16px; height: 16px; top: 0; left: 0;"></div>&nbsp;Loading...
            </div>
            <div class="tree-view" kendo-tree-view="tree" k-data-source="treeData" k-template="itemTemplate" k-on-change="selectedItem=dataItem"></div>
        </div>
        <div class="col-md-9 form-horizontal">
            <div class="lead">Email users</div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="FirstName">To</label>
                <div class="col-md-9">
                    <div class="alert alert-warning" role="alert" ng-show="RecipientsList.length === 0">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Please select at least one email recipient...
                    </div>
                    <ul class="email-recipients form-control" ng-show="RecipientsList.length !== 0">
                        <li data-ng-repeat="recipient in RecipientsList">
                            <span class="label label-primary">{{recipient}} <a class="remove-recipient" href="#" ng-click="removeRecipient($index)">x</a></span>
                            {{ !$last ? ', ' : '' }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="LastName">Subject</label>
                <div class="col-md-9">
                    <input class="form-control" rows="8" data-ng-model="Subject" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="LastName">Message</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="8" data-ng-model="Body" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-md-offset-10">
                    <input type="submit" class="btn btn-primary pull-right" value="Send &raquo;" />
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/Library/kendo-js/kendo.all.min.js"></script>  
    <script src="~/Scripts/Library/kendo-js/kendo.angular.min.js"></script>
    <script src="~/Scripts/Contact/EmailController.js"></script>
}