@model LMS.Web.Models.ClientViewModel

@{
    ViewBag.Title = "Manage Clients";
}
@section head {
    <link href="~/Content/kendo-styles/kendo.silver.min.css" rel="stylesheet" />
}
<div data-ng-controller="ClientManageController" class="row col-md-12">
    <p class="lead">
        <a href="#" data-toggle="modal" data-target="#CreateModal" class="btn btn-primary">Add new client »</a>
    </p>
    <hr />
    <p class="lead">
        <div>
            <div class="k-loading" style="display: inline-block; width: 16px; height: 16px; top: 0; left: 0;"></div>&nbsp;Loading...
        </div>
        <table id="clients" class="table">
            <tr data-ng-repeat="client in clientsList">
                <td>{{client.Name}}</td>
                <td width="15%">
                    <a href="#" data-toggle="modal" data-target="#EditModal" data-ng-click="setCurrentClient(client)">Edit</a> |
                    @*<a href="#" data-toggle="modal" data-target="#DetailsModal" class="details" data-val="{{client.ClientId}}" data-name="{{client.Name}}">Details</a> |*@
                    <a href="#" data-toggle="modal" data-target="#DeleteModal" data-ng-click="setCurrentClient(client)">Delete</a>
                </td>
            </tr>
        </table>
    </p>
    @Html.Partial("_Manage.create")
    @Html.Partial("_Manage.edit")
    @Html.Partial("_Manage.delete")
</div>
@section scripts {
    <script type="text/javascript">
        (function() {
            var app = angular.module("LMS", []);

            var ClientManageController = function($scope, $http) {

                clientManageScope = $scope;

                clientManageScope.clientsList = [];
                clientManageScope.NewClientName = "";
                clientManageScope.CurrentClient = {};

                clientManageScope.init = function() {
                    clientManageScope.loadData(API_URL + "/clients/GetClients/");
                }

                clientManageScope.loadData = function(file) {
                    $http({
                            method: "GET",
                            url: file,
                            headers: {
                                "Authorization": "Bearer " + TOKEN
                            }
                        })
                        .success(function(data) {
                            $("#clients").hide();
                            clientManageScope.clientsList = data;
                            $(".k-loading").parent().slideUp(function() {
                                $("#clients").slideDown();
                            });
                        })
                        .error(function(data, status) {
                            clientManageScope.showClientFailure(data);
                        });
                };

                // create new client
                clientManageScope.create = function() {
                    $http({
                            method: "POST",
                            url: API_URL + "/clients/CreateClient/",
                            data: {
                                "Name": clientManageScope.NewClientName
                            },
                            headers: {
                                "Authorization": "Bearer " + TOKEN
                            }
                        })
                        .success(function(data) {
                            $("#CreateModal").modal("hide");
                            clientManageScope.showClientSuccess();
                        })
                        .error(function(data, status) {
                            clientManageScope.showClientFailure(data);
                        });
                };

                clientManageScope.setCurrentClient = function(client) {
                    clientManageScope.CurrentClient = client;
                }

                clientManageScope.update = function() {
                    $http({
                        method: "PUT",
                        url: API_URL + "/clients/UpdateClient/" + clientManageScope.CurrentClient.ClientId,
                        data: {
                            "ClientId": clientManageScope.CurrentClient.ClientId,
                            "Name": clientManageScope.CurrentClient.Name
                        },
                        headers: {
                            "Authorization": "Bearer " + TOKEN
                        }
                    })
                    .success(function(data) {
                        $("#EditModal").modal("hide");
                        clientManageScope.showClientUpdate();
                    })
                    .error(function(data, status) {
                        clientManageScope.showClientFailure(data);
                    });
                }

                clientManageScope.delete = function () {
                    $http({
                        method: "DELETE",
                        url: API_URL + "/clients/DeleteClient/" + clientManageScope.CurrentClient.ClientId,
                        headers: {
                            "Authorization": "Bearer " + TOKEN
                        }
                    })
                    .success(function (data) {
                        $("#DeleteModal").modal("hide");
                        clientManageScope.showClientDelete();
                    })
                    .error(function (data, status) {
                        clientManageScope.showClientFailure(data);
                    });
                }

                clientManageScope.showClientSuccess = function() {
                    var msg = "Client: <b>" + clientManageScope.NewClientName + "</b> successfully created!";

                    $(".alert-success .msg")
                        .html(msg)
                        .parent()
                        .removeClass("hidden")
                        .slideDown();

                    // reset field
                    clientManageScope.NewClientName = "";

                    $('#clients').slideUp();
                    clientManageScope.init();
                    $('#clients').slideDown();
                }

                clientManageScope.showClientUpdate = function() {
                    var msg = "Client: <b>" + clientManageScope.CurrentClient.Name + "</b> successfully updated!";

                    $(".alert-success .msg")
                        .html(msg)
                        .parent()
                        .removeClass("hidden")
                        .slideDown();

                    // reset field
                    clientManageScope.CurrentClient = {};

                    $('#clients').slideUp();
                    clientManageScope.init();
                    $('#clients').slideDown();
                }

                clientManageScope.showClientDelete = function () {
                    var msg = "Client: <b>" + clientManageScope.CurrentClient.Name + "</b> successfully deleted!";

                    $(".alert-success .msg")
                        .html(msg)
                        .parent()
                        .removeClass("hidden")
                        .slideDown();

                    // reset field
                    clientManageScope.CurrentClient = {};

                    $('#clients').slideUp();
                    clientManageScope.init();
                    $('#clients').slideDown();
                }

                clientManageScope.showClientFailure = function(data) {

                    $(".alert-danger .msg")
                        .html(data.ExceptionMessage)
                        .parent()
                        .removeClass("hidden")
                        .slideDown();
                }

                // run the initialize method
                clientManageScope.init();
            }
            app.controller("ClientManageController", ["$scope", "$http", ClientManageController]);
        }());
    </script>
}
