@model LMS.Web.Models.ClientViewModel

@{
    ViewBag.Title = "Manage Clients";
}
@section head {
    <link href="~/Content/kendo-styles/kendo.silver.min.css" rel="stylesheet" />
}
<p class="lead">
    <a href="#" data-toggle="modal" data-target="#CreateModal" class="btn btn-primary">Add new client »</a>
</p>
<hr />
<p class="lead">
    <table id="clients" class="table"><tr><td><div class="k-loading" style="display: inline-block; width: 16px; height: 16px; top: 0; left: 0;"></div>&nbsp;Loading...</td></tr></table>
</p>
@Html.Partial("_Manage.create")
@Html.Partial("_Manage.edit")
@Html.Partial("_Manage.delete")

@section scripts {
    <script type="text/javascript">

        var clientId = -1;
        var clientName = "";

        $(function () {
            // list existing clients
            loadClients();

            // add client
            $("#Create").click(function () {
                $.ajax({
                    url: API_URL + "/clients/CreateClient/",
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "Bearer " + TOKEN);
                    },
                    data: { Name: $("#Name").val() },
                    type: "POST",
                    success: function (result) {
                        $("#CreateModal").modal("hide");
                        showClientSuccess(result);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
            });

            // edit client
            $("#EditModal").on("show.bs.modal", function (e) {
                var $invoker = $(e.relatedTarget);
                clientId = $invoker.attr("data-val");
                clientName = $invoker.attr("data-name");
                $("#EditName").val(clientName);
            });

            $("#Update").click(function () {
                $.ajax({
                    url: API_URL + "/clients/UpdateClient/" + clientId,
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "Bearer " + TOKEN);
                    },
                    data: { ClientId: clientId, Name: $("#EditName").val() },
                    type: "PUT",
                    success: function (result) {
                        $("#EditModal").modal("hide");
                        clientName = $("#EditName").val();
                        showClientUpdate();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
            });

            // delete client
            $("#DeleteModal").on("show.bs.modal", function (e) {
                var $invoker = $(e.relatedTarget);
                clientId = $invoker.attr("data-val");
                clientName = $invoker.attr("data-name");
                $("#DeleteName").html(clientName);
            });

            $("#Delete").click(function () {
                $.ajax({
                    url: API_URL + "/clients/DeleteClient/" + clientId,
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "Bearer " + TOKEN);
                    },
                    type: "DELETE",
                    success: function (result) {
                        $("#DeleteModal").modal("hide");
                        showClientDelete();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
            });
        });

        function showClientSuccess(result) {
            var msg = "Client: <b>" + result.Name + "</b> successfully created!";

            $(".alert-success .msg")
                .html(msg)
                .parent()
                .removeClass("hidden")
                .slideDown();

            $("#Name").val("");

            $('#clients').slideUp();
            loadClients()
            $('#clients').slideDown();
        }

        function showClientUpdate() {
            var msg = "Client: <b>" + clientName + "</b> successfully updated!";

            $(".alert-success .msg")
                .html(msg)
                .parent()
                .removeClass("hidden")
                .slideDown();

            $("#Name").val("");

            $('#clients').slideUp();
            loadClients()
            $('#clients').slideDown();
        }

        function showClientDelete() {
            var msg = "Client: <b>" + clientName + "</b> successfully deleted!";

            $(".alert-success .msg")
                .html(msg)
                .parent()
                .removeClass("hidden")
                .slideDown();

            $("#Name").val("");

            $('#clients').slideUp();
            loadClients()
            $('#clients').slideDown();
        }

        function loadClients() {
            var table = $("#clients");

            $.ajax({
                url: API_URL + "/clients/GetClients/",
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + TOKEN);
                },
                type: "GET",
                success: function (clients) {
                    table.html("<tr></tr>");
                    var row = '';
                    $.each(clients, function () {
                        row = '<tr>';
                        row += '<td>' + this.Name + '</td>';
                        row += '<td width="15%">';
                        row += '<a href="#" data-toggle="modal" data-target="#EditModal" class="edit" data-val="' + this.ClientId + '" data-name="' + this.Name + '">Edit</a> | ';
                        //row += '<a href="#" data-toggle="modal" data-target="#DetailsModal" class="details" data-val="' + this.ClientId + '" data-name="' + this.Name + '">Details</a> | ';
                        row += '<a href="#" data-toggle="modal" data-target="#DeleteModal" class="delete" data-val="' + this.ClientId + '" data-name="' + this.Name + '">Delete</a>';
                        row += '</td>';
                        row += '</tr>';
                        table.append(row);
                    })
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    </script>
<script type="text/javascript">
    (function () {
        //var app = angular.module("LMS", ["kendo.directives"]);
        var app = angular.module("LMS", []);

        var EmailController = function ($scope, $http) {

            // removing var here allows us to debug in the browsers console. Alternatively we could do window.emailScope = $scope
            emailScope = $scope;

        }
        app.controller("EmailController", ["$scope", "$http", EmailController]);
    }());
</script>

}
